.sidenav {
    height: 100%; /* 100% Full-height */
    width: 130px; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #101f14; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 20px;
    color: #ca7e1a;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #5dda0a;
}

.content {
    height: 100%; /* 100% Full-height */
    width: 100%; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 130px;
    background-color: #75ff8c; 
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 40px;
    transition: 0.5s;
    font-family: "Lucida Console", "Courier New", monospace;
}
.user_funcs a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
.user_funcs a:hover {
    color: #ff0101;
}

.button {
    background-color: #ca7e1a;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.button:hover{
    background-color: #cf0303;
}